{% extends "base.html" %}
{% load static %}
{% block content %}



 <!-- Carousel Start -->
 <div class="container-fluid p-0 mb-5 pb-5">
  <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
          <div class="carousel-item position-relative active" style="height: 100vh; min-height: 400px;">
              <img class="position-absolute w-100 h-100" src="{% static 'images/carousel-1.jpg' %}" style="object-fit: cover;">
              <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                  <div class="p-3" style="max-width: 900px;">
                      <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Legal Firm</h4>
                      <h3 class="display-2 text-capitalize text-white mb-4">Dedicated to Your Justice and Fairness</h3>
                      <a class="btn btn-info py-3 px-5 mt-2" href="{% url 'our_service' %}">Our Expertise</a>
                  </div>
              </div>
          </div>
          <div class="carousel-item position-relative" style="height: 100vh; min-height: 400px;">
              <img class="position-absolute w-100 h-100" src="{% static 'images/carousel-1.jpg' %}" style="object-fit: cover;">
              <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                  <div class="p-3" style="max-width: 900px;">
                      <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Results You Deserve</h4>
                      <h3 class="display-2 text-capitalize text-white mb-4">Standing Up for Your Justice</h3>
                      <a class="btn btn-info py-3 px-5 mt-2" href="{% url 'contact_us' %}">Contact Us</a>
                  </div>
              </div>
          </div>
      </div>
      <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
          <div class="btn btn-lg btn-secondary btn-lg-square">
              <span class="carousel-control-prev-icon"></span>
          </div>
      </a>
      <a class="carousel-control-next" href="#header-carousel" data-slide="next">
          <div class="btn btn-lg btn-secondary btn-lg-square">
              <span class="carousel-control-next-icon"></span>
          </div>
      </a>
  </div>
</div>
<!-- Carousel End -->



 <!-- About Start -->
 <div class="container-fluid py-5">
  <div class="container py-5">
      <div class="row">
          <div class="col-lg-5">
              <img class="img-fluid rounded" src="{% static 'images/singleabout.jpg' %}" alt="">
          </div>
          <div class="col-lg-7 mt-4 mt-lg-0">
              <h2 class="position-relative text-center bg-white text-dark rounded p-3 mt-4 mb-4 d-none d-lg-block" style="width: 350px; margin-left: -205px;">10 Years Experience</h2>
              <h6 class="text-uppercase">About Us</h6>
              <h1 class="mb-4">Delivering Dependable and Efficient Legal Solutions</h1>
              <p>
                Welcome to Legal Firm system, your trusted partner in legal solutions, 
                we are a reputable and dynamic law firm dedicated to providing exceptional legal services 
                to individuals and businesses alike. With a team of experienced and highly skilled attorneys, 
                we strive to deliver comprehensive legal support tailored to meet your specific needs. 
              </p>
              <h6 class="text-uppercase">Our Mission</h6>
              <p>
                At Legal Firm system, our mission is to deliver outstanding legal representation, guidance, and support to our clients.
                 We are committed to upholding the highest standards of professionalism,
                 integrity, and excellence in all aspects of our work. 
                Our goal is to ensure that each client receives personalized attention and achieves the best possible outcome for their legal matters
              </p>
              <a href="{% url 'about' %}" class="btn btn-info mt-2">Learn More</a>
          </div>
      </div>
  </div>
</div>
<!-- About End -->

        <!-- Service Start -->
<div class="container-xxl py-5">
  <div class="container">
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
          <h6 class="section-title text-center text-info text-uppercase">Our Services</h6>
          <h1 class="mb-5">Explore Our <span class="text-info text-uppercase">Fields of Practice</span></h1>
      </div>
      <div class="row g-4">
        {% for post in post_list %}
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <a class="service-item rounded" href="{% url 'post_detail' post.slug  %}">
                  <div class="service-icon bg-transparent border rounded p-1">
                      <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                          <i class="fa fa-hotel fa-2x text-dark"></i>
                      </div>
                  </div>
                  <h5 class="mb-3"><b>{{ post.title | slice:":20" }}</b></h5>
                  <p class="text-body mb-0">
                    {{post.body|slice:":200" }}

                  </p>
              </a>
          </div>
          {% endfor %}
      </div>
  </div>
</div>
<!-- Service End -->


  <!-- Features Start -->
  <div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6" style="min-height: 500px;">
                <div class="position-relative h-100 rounded overflow-hidden">
                    <img class="position-absolute w-100 h-100" src="{% static 'images/carousel-1.jpg' %}" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 pt-5 pb-lg-5">
                <div class="feature-text bg-white rounded p-lg-5">
                    <h6 class="text-uppercase">Our Features</h6>
                    <h1 class="mb-4">Why Choose Us</h1>
                    <div class="d-flex mb-4">
                        <div class="btn-info btn-lg-square px-3" style="border-radius: 50px;">
                            <h5 class="text-secondary m-0">01</h5>
                        </div>
                        <div class="ml-4">
                            <h5>Experience and Expertise</h5>
                            <p class="m-0">
                              Our team of skilled attorneys brings a wealth of experience and expertise to the table. 
                              We have successfully handled numerous cases across a wide range of legal areas, 
                              earning a reputation for delivering favorable results for our clients. 
                            </p>
                        </div>
                    </div>
                    <div class="d-flex mb-4">
                        <div class="btn-info btn-lg-square px-3" style="border-radius: 50px;">
                            <h5 class="text-secondary m-0">02</h5>
                        </div>
                        <div class="ml-4">
                            <h5>Client-Centric Approach</h5>
                            <p class="m-0">
                              We are committed to putting our clients first. We understand that each case is unique, 
                              and we take the time to listen and understand the specific needs and goals of our clients.
                            </p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="btn-info btn-lg-square px-3" style="border-radius: 50px;">
                            <h5 class="text-secondary m-0">03</h5>
                        </div>
                        <div class="ml-4">
                            <h5>Comprehensive Legal Solutions</h5>
                            <p class="m-0">
                              With a diverse team of attorneys specializing in various practice areas,
                               we offer comprehensive legal solutions under one roof.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- mytemplate.html -->
{% comment %} {% if user.is_authenticated %}
  <a href="{% url 'status_applications' %}">Go to Target Page</a>
{% else %}
  <p>Please log in to access the target page.</p>
  <a href="{% url 'client_logins' %}">Log In</a>
{% endif %} {% endcomment %}

<!-- Features End -->

<style>

  /*** Service ***/
  .service-item {
    height: 320px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
  }
  
  .service-item:hover {
    background: #002244;
  }
  
  .service-item .service-icon {
    margin: 0 auto 30px auto;
    width: 65px;
    height: 65px;
    transition: .5s;
  }
  
  .service-item i,
  .service-item h5,
  .service-item p {
    transition: .5s;
  }
  
  .service-item:hover i,
  .service-item:hover h5,
  .service-item:hover p {
    color: #FFFFFF !important;
  }
  
</style>  

<br>
{% comment %} <h2 style="text-align: center"><b>Tranding posts</b></h2>     
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      {% for post in post_list %}
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <div class ="update">
          <img class="card-img-top" src="{{post.image.url}}" alt="Card image cap" >
          </div>
          <div class="card-body">
            <a href="{% url 'post_detail' post.slug  %}">{{ post.title }}</a>
            <br>
            <div class="post-preview">
              <p>{{post.body|slice:":200" }}</p>
            </div>
            <p class="card-text">{{post.excerpt|truncatechars:50}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted">{{ post.created_on}}</small>
            </div>
            <a href="{% url 'post_detail' post.slug  %}" class="link">
              Read more
              <ion-icon name="arrow-forward-outline" class="readmore-icon"></ion-icon>
            </a>
          </div>
        </div>
        </a>
      </div>
  {% endfor %}
    </div>
  </div>
</div>
</div> {% endcomment %}



{% comment %} 
<div class="container-fluid py-3">
  <div class="container">
      <div class="row">
          <div class="col-lg-7">
            <h3>Popular posts</h3>
              <div class="row mb-1">
                  {% for post in post_list %}
                  <div class="col-lg-6">
                      <div class="position-relative mb-3">
                          <img class="img-fluid w-100" src="{{post.image.url}}" style="object-fit: cover;">
                          <div class="overlay position-relative bg-light">
                           <br>
                              <div class="mb-2" style="font-size: 14px;">
                                  <span class="px-1">{{ post.author }} |</span>
                                  <span>{{ post.created_on}}</span>
                              </div>
                              <a class="h4" href="{% url 'post_detail' post.slug  %}">{{ post.title }}</a>
                              <br>
                              <p class="m-0">{{post.content|slice:":150" }}</p>
                          </div>
                      </div>
                    </div>
                    {% endfor %} 
                  </div>
                </div>
             
              <!-- Popular News End -->

              <!-- Tags Start -->
              <div class="pb-3">
                  <div class="bg-light py-2 px-4 mb-3">
                      <h3 class="m-0">Recents</h3>
                  </div>
                  <div class="d-flex flex-wrap m-n1">
                    <div class="topics-pills">
                    
                      {% for post in post_list %}
                      <div class="d-flex mb-3">
                        <img src="{{post.image.url}}" style="width: 100px; height: 100px; object-fit: cover;">
                        <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                          <div class="mb-1" style="font-size: 13px;">
                            <a href="{% url 'post_detail' post.slug  %}">{{ category.name|title }}</a>
                            <span class="px-1">{{ post.author }}/</span>
                            <span>{{ post.created_on}}</span>
                        </div>
                        <a class="h6 m-0" href="{% url 'post_detail' post.slug %}">{{post.title|slice:":31" }}</a>
                        <a class="h6 m-0" href="{% url 'post_detail' post.slug %}">{{post.content|slice:":45" }}</a>
                    </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  <h2><b>Randoms<b></h2>
                  <img class="tall-image" height="400px" width="400px" src="https://picsum.photos/200/300" alt="">
              </div>
          </div> 
        </div>
     </div> {% endcomment %}



{%endblock%}



